main {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 5px;
}

app-square {
    border-radius: 10px;
    height: 200px;
}

h1 {
    display: flex;
    justify-content: center;
}

.sep {
    margin-bottom: 20px;
}

.centerRow {
    display: flex;
    justify-content: center;
}

